body{
    background-color:rgb(247, 247, 178);
    color:black;
    font-family: "Special Elite", system-ui;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
 background-color: black;
 color:white;  
 font-family: "Special Elite", system-ui; 
}